<!DOCTYPE html>
<html lang="en">
  <!-- Head section -->
  <%- include('../views/partials/head',, { page: 'NYC Attraction' }) %>
  <body>
    <!-- Navbar section -->
    <%- include('../views/partials/navbar') %>
    <div class="p-3 mb-2">
      <h1 class="text-center"><%= Attraction.name %></h1>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-10">
            <p>
              <strong>Visit Us:</strong> <%= Attraction.address.street %>, <%=
              Attraction.address.city %>, <%= Attraction.address.state %>
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="col-sm-12">
          <img
            src="<%= Attraction.image%>"
            alt="<%= Attraction.name%>"
            class="attraction-image"
          />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 my-4">
          <h3><%= Attraction.name%> Description</h3>
          <hr />
          <p><%= Attraction.description %></p>
          <a href="/attractions/<%= Attraction._id %>/edit">
            <button class="btn btn-primary">
              Edit <%= Attraction.name%>
            </button></a
          >
          <div class="my-3">
            <form
              action="/attractions/<%= Attraction._id%>?_method=Delete"
              method="post"
            >
              <button class="btn btn-danger">Remove Attraction</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- footer section -->
    <%- include('../views/partials/footer') %>
  </body>
</html>
